:root{
    --fc-bg-event-opacity: 0.7;   
    --fc-event-text-color: #fff;
}

.fc-event-title {
    @apply dark:text-white
}

.fc-toolbar-title {
    font-weight: bold;
    @apply dark:text-white
}

.fc-col-header-cell-cushion {
    @apply dark:text-white
}

.fc-daygrid-day-number {
    @apply dark:text-white
}

.fc-multimonth-title {
    @apply dark:text-white
}

.fc-multimonth-daygrid {
    @apply dark:bg-primary-dark
}

.fc-day-disabled {
    @apply dark:bg-gray-600
}

