body {
    margin: 0;
    padding: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @layer responsive {
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }
        .no-scrollbar {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
    }
}